version: "3.3"

services:
  nginx:
    build: ./nginx
    ports:
      - 3389:80
    volumes:
      - ./static:/static:ro
    depends_on:
      - web
    restart: "always"
#    command: [nginx-debug, '-g', 'daemon off;']

  web:
#      python manage.py makemigrations &&
    build: ./api
    command: sh -c "python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn autotest.wsgi:application --bind=0.0.0.0:8000"
    volumes:
      - ./data:/code/data:rw
      - ./media:/code/media:rw
      - ./static:/code/static:rw
    env_file:
      - ./api/local.env
    expose:
      - 8000
    restart: "always"

  webhook:
      #      python manage.py makemigrations &&
    build: ./webhook
    command: sh -c "gunicorn wsgi:app --bind=0.0.0.0:8000"
#    volumes:
#      - ./data:/code/data:rw
#      - ./media:/code/media:rw
#      - ./static:/code/static:rw
#    env_file:
#      - ./api/local.env
    expose:
      - 8000
    restart: "always"
