version: "3.3"

services:
  nginx:
    build: ./nginx
    ports:
      - 3389:80
    volumes:
      - ./static:/static:ro
      - ./data/media:/media:ro
    depends_on:
      - web
    restart: "always"
#    command: [nginx-debug, '-g', 'daemon off;']

  web:
#      python manage.py makemigrations &&
    build: ./api
    command: sh -c "python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn autotest.wsgi:application --bind=0.0.0.0:8000"
    volumes:
      - ./data:/code/data:rw
      - ./data/media:/code/media:rw
      - ./static:/code/static:rw
    env_file:
      - ./local.env
    environment:
      POSTGRES_HOST: db
    expose:
      - 8000
    restart: "always"

  webhook:
      #      python manage.py makemigrations &&
    build: ./webhook
    command: sh -c "gunicorn wsgi:app --bind=0.0.0.0:8000"
    volumes:
      - ./data/cases:/code/cases:ro
      - ./data/reports:/code/reports:rw
#      - ./static:/code/static:rw
    env_file:
      - ./local.env
    tmpfs:
      - /code/tmp
    expose:
      - 8000
    restart: "always"

  db:
    image: postgres
    restart: always
    env_file:
      - ./local.env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data:rw
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata